@model IEnumerable<Works_Life_Cycle.Models.Area>

@{
    ViewData["Title"] = "Index";
}

<h1>Áreas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar Novo</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-success">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AreaID" class="btn btn-warning">Editar</a> |
                
                <a asp-action="Details" asp-route-id="@item.AreaID" class="btn btn-info">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.AreaID" class="btn btn-warning">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
